@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './shimmer.scss';

html {
  @apply h-full overflow-hidden text-gray-800;
  background-color: #fdfdfe;
  @apply text-gray-900;

  body {
    @apply h-full overflow-auto;
  }

  * {
    user-select: none;
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  -webkit-tap-highlight-color: transparent;

  .card {
    @apply bg-white p-4 rounded shadow;
  }

  hr {
    @apply border-gray-200;
  }
}
